.login{
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.726);
    align-items: center;
    justify-content: center;
    display: flex;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginleft,.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-weight: 800;
    font-size: 50px;
    color: rgb(46, 121, 206);
    margin-bottom: 10px;

}

.loginDesc{
    font-size: 24px;
}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginButton:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    background-color: rgb(58, 58, 179);
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: rgb(84, 84, 177);

}

.loginRegisterButton{
    border: none;
    cursor: pointer;
    align-self: center;
    height: 50px;
    width: 70%;
    border-radius: 10px;
    background-color: rgb(68, 179, 58);
    color: white;
    font-size: 20px;
    font-weight: 500;
}
